.button{
    font-weight: 700;
}
.input-container{
    margin-top: 2rem;
    width: 50vw;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.todo-card-container{
    margin:1rem;
    width: 50vw;
    height: 80px;
    border-radius: 10px;
    /* border: 1px solid white; */
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    overflow-y: hidden;
    background-color: rgb(30, 30, 30);
}
.todo-card-container p {
    width: 90%;
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.is-chekcked-container{
    /* border: 1px solid white; */
    padding-left: 20px;
}
.todo-text{
    /* padding-top: 1rem; */
    font-weight:700;
}

.edit-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    width: 100px;
    height: 100%;
    justify-content: space-evenly;
}

.delete-img{
    width: 30px;
}
.delete-img:hover{
    transform: scale(1.1);
}
.edit-box{
    width: 400px;
    height: 200px;
    /* border: 1px solid white; */
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 2rem;
}
.edit-text-field{
    width: 80%;
    margin-bottom: 2rem;
}
.submit{
    /* border: 1px solid white; */
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
