.heading{
    color: white;
    margin-top: 4rem;
}
.main-container{
    /* border: 1px solid white; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* height: 100vh; */
}

.loading-text{
    color: white;
}

.no-todo{
    color: white;
    margin-top: 2rem;
}
