*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 100vh; */
  background-color: black;
}